.App {
  font-family: sans-serif;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.line input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eeeeee;
  width: 200px;
  text-align: left;
  font-size: 25px;
}
